#biofrank{
    text-align: center;
    font-family: Impact;
}
#franckocean{
    text-align: center;
}
h6{
    text-align: center;

    background-color: black;
 color: aliceblue
}
header{
    background-color:green
}
h5{
    text-align: center;
}
a{
    text-decoration: none;
}
img{
margin: auto;
display: block;
}
*{
    margin: 0;
    padding: 0;
}
div{
    background-color: aqua;
    width: 400px;
    height: 400px;

}